body {
    font-family: Arial, sans-serif;
    margin: 0 ;
    padding: 0;
    background-color: #fefefe;
}

.textproperties{
    text-align: center;
    background:url(scenary.jpeg) no-repeat center center;
    background-size: contain;
    padding: 80px 20px;
    color: white;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin:0 auto;
    padding: 20px 0;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.section image{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-block,.image-block{
    flex: 1 1 45%;
    padding: 10px;
}

.button{
    display: inline-block;
    background-color: #f16b3f;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.highlight{
    background-color: #f4f4f4;
    padding: 20px;
    margin: 40px 0;
}

.footer{
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 14px;
}

.footer a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}