body{
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 600px;
    background-color: white;
    padding: 40px 20px;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.blog-post{
    margin-bottom: 20px;
}

.blog-post image{
    width: 50%;
    border-radius: 8px;
}

.blog-post h2{
    font-size: 24px;
    margin: 10px 0 5px;
}

.blog-post .date{
    color: #777;
    font-size: 14px;
}

.blog-post p{
    color: #333;
    line-height: 1.5;
}

.read-more{
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

hr{
    margin: 30px 0;
    border: none;
    border-top: 1px solid #eee;
}